@model IEnumerable<FinalProject.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DurationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageURL)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DurationTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VideoURL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageURL)
                </td>

                <td>
                    <a asp-controller="Instructor" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Instructor" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
